In [2]:
import pandas as pd
import numpy as np
from pycaret.classification import *

In [3]:
data = pd.read_csv('inputs/clean_data.csv')
data = data.drop(columns=['Unnamed: 0'], axis=1)
data.head()

,Loan Status,Current Loan Amount,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan_status_home_ownership,purpose_term
0,0,12232,728.0,0.0,46643.0,777.39,18.0,10.0,12,0,6762,7946.0,0.0,0.0,0.716932,0.743981
1,0,25014,733.0,10.0,81099.0,892.09,26.7,51.0,14,0,35706,77961.0,0.0,0.0,0.769393,0.743981
2,0,16117,724.0,9.0,60438.0,1244.02,16.7,32.0,11,1,11275,14815.0,1.0,0.0,0.769393,0.775369
3,0,11716,740.0,3.0,34171.0,990.94,10.0,51.0,21,0,7009,43533.0,0.0,0.0,0.716932,0.743981
4,0,9789,686.0,10.0,47003.0,503.71,16.7,25.0,13,1,16913,19553.0,1.0,0.0,0.769393,0.775369

In [4]:
s = setup(data, target='Loan Status', experiment_name='testing', session_id=14, fix_imbalance=True, normalize=True)

In [5]:
best = compare_models()